/* this is body section  */
body {
    margin: 0;
}

/* this is heading_poster section  */
nav {
    color: white;
    font-family: sans-serif;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
}

nav .logo img {
    margin: 10px 0 5px 60px;
    width: 90px;
}

nav .name {
    display: flex;
    margin-left: 10px;
    flex: 1;
}

nav .name h3 {
    font-size: 30px;
    margin: 10px 10px;
}
nav .name h5{
    font-size: 10px;
    margin-top: 25px;
}

nav .options {
    display: flex;
    flex: 2;
    margin-left: 200px;
}
nav .options .option{
    margin: 20px 20px;
}
nav .options input{
    border-radius: 10px;
    border-color: aliceblue;
}